* {
    box-sizing: border-box;
}

/*Every CSS properties for the Body - INDEX, PROJECTS, ABOUT, CONTACT*/
body {
    display: flex;
    flex-direction: column; /*Makes the children be from top to bottom*/
    font-family: Arial, Helvetica, sans-serif; /*Changes the font*/
    min-height: 100vh; /*Makes the page's height at least as long as the screen*/
    margin: 0;
    background-color: #F5F5DC;
    max-width: 100vw;
    overflow-x: hidden;
}


/*Every CSS properties for the Header - INDEX, PROJECTS, ABOUT, CONTACT*/
header {
    border-bottom: solid 2px black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
}

header nav ul {
    display: flex;
    text-align: center; /*Aligns the list in the Y-axis*/
    justify-content: center; /*Aligns the list in the X-axis*/
    padding: 0;
    margin: 0;
    list-style: none; /*Removes the bullets*/
}

header nav ul li {
    margin: 0 15px; /*Adds some space between the menus*/
}

header a {
    font-size: 1.5vw;
    color: black;
    text-decoration: none; /*Removes the underline*/
}

.header_menu { /*Equals header nav ul li a*/
    transition: font-size 0.5s; /*Changes font-size when hovering*/
}

header a:visited {
    color: black; /*After visiting the link, color stays black instead of pink*/
}

.header_menu:hover { /*What happends when mouse hovers the links*/
    text-decoration: underline;
    padding: 5px 10px;
    font-size: 1.6vw;
}

header hr {
    border: solid 1px black;
    margin-bottom: 0;
}

.dropdown_mobile, .dropdown_desktop {
    display: inline-block;
    position: absolute;
    right: 0;
}

.dropbtn {
    cursor: pointer;
    margin: 0;
    padding: 5px 10px;
    font-size: 1vw;
}

.btn_mobile {
    color: black;
    padding: 5px 10px;
    margin: 0;
}

.dropdown_content {
    display: none;
    position: absolute;
    overflow: auto;
    background-color: white;
    box-shadow: 2px 2px 5px black;
    z-index: 1;
    padding: 5px 0;
    margin: 0 1vw;
    right: 0;
}

.dropdown_content a {
    padding: 5px 10px;
    text-decoration: none;
    color: black;
    display: block;
}

.dropdown_content a:visited {
    color: black;
}

.dropdown_content a:hover {
    text-decoration: underline;
}
  
.dropdown_mobile:hover .dropdown_content, .dropdown_desktop:hover .dropdown_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dropdown_mobile {
    display: none;
}


/*Every CSS properties for the Main - INDEX, PROJECTS, ABOUT, CONTACT*/
main {
    display: flex;
    flex-grow: 1; /*Lets the main division take all the remaining place in the screen so that footer can remain in the bottom*/
    margin-bottom: 50px;
}


/*Every CSS properties for ther Footer - INDEX, PROJECTS, ABOUT, CONTACT*/
footer {
    text-align: center;
    font-size: 1vw;
    border-top: solid 2px black;
}




/*Every CSS properties for the Main - INDEX*/
.main_index {
    justify-content: center; /*Aligns the children in the X-axis*/
    align-items: center; /*Aligns the list in the Y-axis*/
}

#hero {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80vw;
    /*Border*/
    border: solid 0.7vw black;
}

#hero h1 {
    font-size: 6vw; /*Adjusts the size of h1 according to screen size*/
}

#hero a {
    font-size: 3vw; /*Adjusts the size of p according to screen size*/
    text-decoration: none;
    padding: 10px;
}

#hero a:visited {
    color: black; /*After visiting the link, color stays black instead of pink*/
}

#hero a:hover { /*What happends when mouse hovers the links*/
    text-decoration: underline;
}





/*Every CSS properties for the Main - PROJECTS*/
.projects {
    flex-direction: column;
    margin: 0 2vw;
}

.projects h1 {
    margin-bottom: 0;
}

.project_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 2vh 0;
}

.project_item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    background: white;
    border-radius: 8px;
    box-shadow: 2px 2px 5px black;
    margin: 0 3vw ;
    width: 16vw;
    overflow: hidden;
    transition: transform 0.2s;
    height: 60vh;
}

.project_item:hover {
    transform: translateY(-10px);
}

.project_thumbnail {
    height: 40%;
}

.project_details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60%;
    padding: 1vw;
}

.project_details h2 {
    font-size: 1.4vw;
    margin: 0;
}

.project_details p {
    font-size: 1vw;
    flex-grow: 1;
}

.project_link {
    display: inline-block;
    padding: 10px 15px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
    font-size: 1vw;
}

.project_link:hover {
    background-color: #C49E78 ;
    color: black;
}





/*Every CSS properties for the Main - ABOUT*/
.main_about {
    flex-direction: column;
}

.header_resume { /*Set up the display of the header of the resume*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 20vh;
    margin: 20px 0;
}

.header_resume_div1 { /*Set up the display of the first div in the header of the resume*/
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 10px;
}

#header_resume_div1_img { /*Set up the display of the image in the first div in the header of the resume*/
    height: 70%;
    border-radius: 100%;
}

.header_resume_div2 { /*Set up the display of the second div in the header of the resume*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
    width: 30vw;
}

.header_resume_div2 h1 {
    font-size: 2vw;
    margin: 0;
}

.header_resume_div2 h2 {
    font-size: 1.5vw;
    margin: 0;
}

.header_resume_div2 p {
    font-size: 1vw;
    margin: 0;
}

.main_resume { /*Set up the display of the main of the resume*/
    display: flex;
    justify-content: space-evenly;
}

.main_resume_section { /*Set up the display for both the left and right parts*/
    display: flex;
    flex-direction: column;
    border: solid 2px black;
    width: 40%;
    padding: 20px;
    /*Display*/
    background-color: #FFF8E7;
    border-radius: 25px;
    box-shadow: 2px 2px 5px black;
}

.main_resume_section h3 {
    margin-top: 5px;
    margin-bottom: 25px;
    padding-bottom: 5px;
    border-bottom: solid 2px black;
    font-size: 1.5vw;
}

.main_resume_section article {
    margin-bottom: 25px;
}

.main_resume_section p, .main_resume_section h4 {
    margin: 5px;
}

.main_resume_section h4 {
    font-size: 1.3vw;
}

.main_resume_section p {
    font-size: 1vw;
}

.main_resume_section li {
    margin-bottom: 10px;
    font-size: 1vw;
}




/*Every CSS properties for the Main - CONTACT*/
.contact h1, .contact p {
    padding-left: 20px;
}

.contact form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    box-sizing: border-box;
}

.contact form label {
    margin: 10px 0 5px;
}

.contact form input, .contact form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.contact form input[type="submit"] {
    width: auto;
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    box-sizing: border-box;
}

.contact form input[type="submit"]:hover {
    background-color: #555;
}





/*All the RESPONSIVE DESIGN*/
@media (max-width: 1280px) {
    .project_item {
        width: 18vw;
    }

    .project_details h2 {
        font-size: 1.4vw;
    }

    .project_details p, .project_link {
        font-size: 1.1vw;
    }
}


@media (max-width: 1024px) {
    .project_item {
        width: 22vw;
    }

    .project_details h2 {
        font-size: 1.8vw;
    }

    .project_details p, .project_link {
        font-size: 1.4vw;
    }
}


@media (min-width: 769px) {
    .dropdown_menu {
        font-size: 1vw;
    }
}


@media (max-width: 768px) {
    /*Responsive Design for HEADER*/
    .header_menu {
        font-size: 2vw;
    }

    .dropdown_content, .dropbtn {
        font-size: 1.5vw;
    }


    /*Responsive Design for PROJECTS*/
    .project_item {
        width: 30vw;
    }

    .project_details h2 {
        font-size: 2.2vw;
    }

    .project_details p, .project_link {
        font-size: 1.8vw;
    }


    /*Responsive Design for ABOUT*/
    .header_resume {
        justify-content: center;
    }

    .header_resume h1 {
        font-size: 3vw;
    }

    .header_resume h2 {
        font-size: 2vw;
    }

    .header_resume p {
        font-size: 1.5vw;
    }

    .main_resume {
        flex-direction: column;
        align-items: center;
    }

    .main_resume_section {
        width: 60vw;
        margin-bottom: 2vh;
    }

    .main_resume_section h3 {
        font-size: 2.5vw;
    }

    .main_resume_section h4 {
        font-size: 1.8vw;
    }
    
    .main_resume_section p {
        font-size: 1.5vw;
    }
    
    .main_resume_section li {
        font-size: 1.5vw;
    }


    /*Responsive Design for FOOTER*/
    footer {
        font-size: 1.5vw;
    }
}

@media (min-width: 426px) {
    /*Responsive Design for HEADER*/
    .dropdown_desktop {
        display: inline-block;
    }

    .dropdown_mobile {
        display: none;
    }
}

@media (max-width: 425px) {
    /*Responsive Design for HEADER*/
    .header_menu {
        font-size: 2.5vw;
    }

    .dropdown_desktop {
        display: none;
    }

    .dropdown_mobile {
        display: inline-block;
        font-size: 2vw;
    }

    .dropdown_menu {
        font-size: 2vw;
    }

    .dropdown_content {
        right: 0;
        margin-right: 1vw;
    }


    /*Responsive Design for INDEX*/
    #hero h1 {
        font-size: 7vw;
    }

    #hero a {
        font-size: 4vw;
    }


    /*Responsive Design for PROJECTS*/
    .projects {
        margin: 0 3vw;
    }

    .projects h1, #projects_p {
        text-align: center;
    }

    .project_item {
        width: 50vw;
        margin-bottom: 10vw;
    }

    .project_details {
        padding: 2vw;
    }

    .project_details h2 {
        font-size: 4.5vw;
    }

    .project_details p, .project_link {
        font-size: 3vw;
    }


    /*Responsive Design for ABOUT*/
    .header_resume h1 {
        font-size: 4vw;
    }

    .header_resume h2 {
        font-size: 3vw;
    }

    .header_resume p {
        font-size: 2.5vw;
    }
    
    #header_resume_div1_img {
        height: 60%;
    }

    .header_resume_div2 {
        width: 45vw;
    }

    .main_resume_section h3 {
        font-size: 3vw;
    }

    .main_resume_section h4 {
        font-size: 2.3vw;
    }
    
    .main_resume_section p {
        font-size: 2vw;
    }
    
    .main_resume_section li {
        font-size: 2vw;
    }


    /*Responsive Design for FOOTER*/
    footer {
        font-size: 2vw;
    }
}

@media (max-width: 384px) {
    .header_menu {
        font-size: 2.4vw;
    }

    .project_item {
        width: 55vw;
    }
}

@media (max-width: 363px) {
    .header_menu {
        font-size: 2.2vw;
    }
}